<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div id="main">
      <div id="sub">
    {{>header}}
    <p>Use this site to get your weather!</p>
    <form>
      <input placeholder="Enter location" name="search" autocomplete="off">
      <button>Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
    {{>footer}}
    </div>
    </div>
    <script src="/js/app.js"></script>
  </body>
</html>